@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
#wrapper h1, #wrapper p {
  font-family: 'Lato', sans-serif;
  letter-spacing: .07em;
}

body, html {
  height: 100%;
  line-height: 16px;
}

#wrapper {
  background: #ddedf3;
  color: #000;
  height: 100%;
  padding: 24px;
  position: relative;
  width: 100%;
}
#wrapper .contents {
  margin: auto;
  position: absolute;
  top: -30px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 440px;
  height: 310px;
  text-align: left;
}
#wrapper h1, #wrapper p {
  font-size: 167%;
}
#wrapper h1 {
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
  line-height: 48px;
}
#wrapper p {
  font-size: 134%;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}
#wrapper a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
#wrapper a:before,
#wrapper a:hover:before {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#wrapper a:before {
  background: #d92933;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 100%;
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}
#wrapper a:hover:before {
  width: 0;
}

#frame {
  border: 10px solid #000;
  height: 100%;
  margin: auto;
  width: 100%;
}

#projectsWrapper {
  background: #ddedf3;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
  /*
      #close {
          display: block;
          
          .btnClose {
              cursor: pointer;
              height: 55px;
              padding: 0;
              position: absolute;
              right: 0;
              top: 0;
              width: 55px;
  
              .line {
                  background: #000;
                  display: block;
                  width: 55px;
                  height: 3px;
              }
  
              .line:nth-child(1) {
                  transform: rotate(45deg);
              }
              
              .line:nth-child(2) {
                  transform: rotate(-45deg);
              }
          }
      }
  */
}
#projectsWrapper #projectsFrame {
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}
#projectsWrapper h3 {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
#projectsWrapper #copyRight {
  bottom: 0;
  left: 0;
  position: absolute;
}
#projectsWrapper #close {
  display: block;
}
#projectsWrapper #close .btnClose {
  cursor: pointer;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
}
#projectsWrapper #close .btnClose .line {
  background: #000;
  display: block;
  height: 3px;
  position: absolute;
  width: 55px;
}
#projectsWrapper #close .btnClose .line:nth-child(1) {
  top: 27px;
  transform: rotate(45deg);
}
#projectsWrapper #close .btnClose .line:nth-child(2) {
  top: 27px;
  transform: rotate(-45deg);
}
