/* line 2, ../sass/style.scss */
#wrapper {
  background: #ddedf3;
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/style.scss */
h1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-shadow: 0 0 10px #a82f34;
  -webkit-box-shadow: 0 0 10px #a82f34;
  box-shadow: 0 0 10px #a82f34;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  color: #ccc;
  background: #000;
}
