@import "compass";
@import "ptp-12";

body, html {
	height: 100%;
}

#wrapper {
	background: #ddedf3;
	height: 100%;
	padding: 24px;
	position: relative;
	width: 100%;

	h1, p {
		color: #000;
		font-size: $px20;
		margin: 0;
	}

} 

#frame {
	border: 10px solid #000;
	height: 100%;
	margin: auto;
	width: 100%;
}

.contents {
	margin: auto;
	position: absolute;
	top: -30px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 480px;
	height: 380px;
	text-align: left;
	padding-left: 20px;
}